<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Deep Thought Relay Twitter App</h1>
    </div>
  </div>

  <!-- New Tweet -->
  <div class='row'>
    <div class='col-md-12'>
      <form class="form" ng-submit='create(newTweet)'>
        <fieldset>
          <legend>Status Update</legend>
          <div class="form-group">
            <label for="newTweet">Tweet</label>
            <input
              type="text"
              class="form-control"
              id="newTweet"
              placeholder=""
              maxlength="180"
              ng-model='newTweet.status'>
            <p class="help-block">180 characters</p>
          </div>
          <input type="submit" class='btn btn-primary' value="Post">
        </fieldset>
      </form>
    </div>
  </div>

  <!-- Timeline -->
  <div class="row">
    <div class="col-md-12">
      <h2>Feed <small><button ng-click='refresh()' class='btn btn-success'><span class="glyphicon glyphicon-refresh"></span></button></small></h2>
      <div class="row" ng-repeat='tweet in tweets'>
        <div class="col-md-12 well">
          <div class="row">
            <div class="col-xs-3">
              <img src="{{ tweet.user.profile_image_url}}" alt="user profile image" class='img-responsive img-rounded' />
            </div>
            <div class="col-xs-9">
              <h3><a href="http://twitter.com/{{tweet.user.screen_name}}" target='_blank'>@{{tweet.user.screen_name}}</a></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                {{tweet.text}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
